# ignore file
.log
*.gif
*.xlsx
*.png
*.npz
*.npy
*.pdf
*.tar.gz
*.pkl
*.keras
*.zip
*.pkl
*.json
*.txt
!requirements.txt

# ignore ordner
__pycache__
myenv
docs/_build/

*.html
*.csv
/config/all_test/Ray_Tune
/tests/config/Ray_Tune
tests/distribution_animation.gif
poetry.lock
/dist
*.7z

*.jpg
/optframework/utils/func_temp/config
*.sqlite
